@{
    ViewBag.Title = "Home Page";
}

<style>
    #Loads {
        position: absolute;
        top: 20%;
        left: 50%;
        padding: 0;
        margin: 0;
        width: 700px;
        height: 45%;
        border-radius: 25px;
    }

    #MyLoads {
        position: absolute;
        top: 600px;
        padding: 0;
        margin: 0;
        width: 80%;
        height: 45%;
        border-radius: 25px;
    }
</style>

<!--<img id="Loads" src="~/Pictures/LoadsAvailable.jpg" alt="Loads available" onclick="location.href = '@Url.Action("loads", "loads")'"/>
<p></p>
<img id="MyLoads" src="~/Pictures/MyLoads.jpg" alt="My Loads" onclick="location.href ='@Url.Action("Index", "MyLoads")'"/>-->
